
.card{

    width: 200px;
    min-height: 200px;
    background-color: rgb(176, 176, 214);
    border-radius: 8px;
    box-shadow: 0 0 4px 4px rgb(103, 103, 106);
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
}

.card_title{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.item{
    color:brown;
    font-weight: 600;
    font-size: 20px;
}